<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="mt-4">Book List</h1>
    <table class="table table-striped mt-4">
        <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Author</th>
            <th>Language</th>
            <th>Publisher</th>
            <th>Registration Date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${books}">
            <td th:text="${book.id}">1</td>
            <td th:text="${book.title}">Title</td>
            <td th:text="${book.author}">Author</td>
            <td th:text="${book.language}">Language</td>
            <td th:text="${book.publisher}">Publisher</td>
            <td th:text="${book.registrationDate}"></td>
            <td><a th:href="@{/books/details/{id}(id=${book.id})}">Details</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
