<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>
<body>
<div class="container">
    <h1 class="mt-4">Book List</h1>
    <table class="table table-striped mt-4">
        <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Author</th>
            <th>Language</th>
            <th>Publisher</th>
            <th>Registration Date</th>
        </tr>
        </thead>
        <tbody id="table">
<!--        <tr th:each="book : ${books}">-->
<!--            <td th:text="${book.id}">1</td>-->
<!--            <td th:text="${book.title}">Title</td>-->
<!--            <td th:text="${book.author}">Author</td>-->
<!--            <td th:text="${book.language}">Language</td>-->
<!--            <td th:text="${book.publisher}">Publisher</td>-->
<!--            <td th:text="${book.registrationDate}"></td>-->
<!--            <td><a th:href="@{/books/details/{id}(id=${book.id})}">Details</a></td>-->
<!--        </tr>-->
        </tbody>
    </table>
</div>
</body>
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        console.log("페이지 불러오기 완료!");
        getBooks(); //도서 목록 조회
    });

    function getBooks(){
        console.log("getBooks 함수 시작");
        Request('/api/book', 'GET', null)
            .then(function(response) {
                console.log("Request 요청 성공함");
                console.log(response);
            })
            .catch(function(error) {
                console.log("Request 요청 실패함");
                console.log(error)
                alert(error.responseText);
            });
    }

    // ajax로 요청 처리하는 함수
    function Request(url, type, data) {
        console.log("Request 요청 시작함");
        var ajaxOptions = {
            url: url,
            type: type
        };
        if (type === 'GET') {
            ajaxOptions.data = data;
            ajaxOptions.dataType = 'json';
        } else {
            ajaxOptions.contentType = "application/json";
            ajaxOptions.data = JSON.stringify(data);
        }
        return $.ajax(ajaxOptions);
    }
</script>
</html>
